*{
  margin : 0%;
  padding:0%;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width:100%;
}

html{
  background-color: rgb(18, 18, 18);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  padding-block: 1rem;
  padding-inline: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.note{
  background-color: grey;
  color:white;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
}

.note-create-form{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}